<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Wallets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="chooseWallet($event)" [value]="wallets[0].guid">
      <ion-list-header>
        <ion-label>Wallets</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let wallet of wallets">
        <ion-label>{{wallet.name}}</ion-label>
        <ion-radio [value]="wallet.guid" slot="start"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Config</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let walletParam of this.defaultWalletConfigKeys">
      <ion-label>{{walletParam.label}}</ion-label>
      <ion-input [(ngModel)]="mainWallet[walletParam.paramName]" [placeholder]="walletParam.value"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="saveWallet(mainWallet)">Save</ion-button>
        <ion-button (click)="createWallet()">New</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>
