<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'My Goal' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="goal; else goalTutorial">
    <ion-thumbnail slot="start">
      <img src="../../../assets/images/goal-star.svg">
    </ion-thumbnail>
    <ion-label>
      <h3>{{goal?.name}}</h3>
      <p *ngIf="goal?.info">{{goal.info}}</p>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="goal">
    <ion-list-header>
      <ion-label>{{goal.currentValue === goal.wonValue ? 'Completed!' : 'Progress: ' | translate }} {{goal.currentValue + ' / ' + goal.wonValue}}</ion-label>
    </ion-list-header>
    <ion-progress-bar [value]="goalProgress"></ion-progress-bar>
  </ion-list>
  <ng-template #goalTutorial>
    <ion-item>
      <ion-label>
        {{'What is goal ?' | translate}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-text class="text__gray-color">
        <p>{{'You can save money more fun!' | translate}}</p>
        <p>{{'Goal can help you track how many money you save in each period from all wallets' | translate}}</p>
        <p>{{'And saved count you can reach to favorite thing: vacation, presents and etc' | translate}}</p>
        <p>{{'Just add value how many you want to save money and try improve your economy each period' | translate}}</p>
        <p>{{'Good luck!' | translate}}</p>
      </ion-text>
    </ion-item>
  </ng-template>

</ion-content>

<ion-fab *ngIf="!goal" horizontal="end" slot="fixed" vertical="bottom">
  <ion-fab-button (click)="createNewGoal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab *ngIf="goal" horizontal="end" slot="fixed" vertical="bottom">
  <ion-fab-button (click)="editGoal(goal)">
    <ion-icon name="build"></ion-icon>
  </ion-fab-button>
</ion-fab>
