<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{mainWallet?.config?.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Бюджет на 30дн</ion-col>
      <ion-col class="ion-text-end">{{plannedBudget}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>На сегодня</ion-col>
      <ion-col class="ion-text-end">{{plannedBudgetDay}}</ion-col>
    </ion-row>
  </ion-grid>
  <div class="money-tab_write-off">
    {{writeOffMoneyString}}
  </div>
  <div (click)="returnPayment()" *ngIf="currentPayment">
    Вернуть {{currentPayment?.value}}
  </div>
</ion-content>
<ion-footer no-shadow>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-row>
          <ion-col size="4">
            <ion-row (click)="calculateNumber('7')" class="money-tab_number-button--size">7</ion-row>
            <ion-row (click)="calculateNumber('4')" class="money-tab_number-button--size">4</ion-row>
            <ion-row (click)="calculateNumber('1')" class="money-tab_number-button--size">1</ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row (click)="calculateNumber('8')" class="money-tab_number-button--size">8</ion-row>
            <ion-row (click)="calculateNumber('5')" class="money-tab_number-button--size">5</ion-row>
            <ion-row (click)="calculateNumber('2')" class="money-tab_number-button--size">2</ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row (click)="calculateNumber('9')" class="money-tab_number-button--size">9</ion-row>
            <ion-row (click)="calculateNumber('6')" class="money-tab_number-button--size">6</ion-row>
            <ion-row (click)="calculateNumber('3')" class="money-tab_number-button--size">3</ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-row (click)="cleanAll()" class="money-tab_number-button--size">C</ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row (click)="calculateNumber('0')" class="money-tab_number-button--size">0</ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row (click)="calculateSeparator()" class="money-tab_number-button--size">.,</ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-row (click)="delete()" class="money-tab_enter-delete-button--size">
          del
        </ion-row>
        <ion-row (click)="enter()" class="money-tab_enter-delete-button--size">
          enter
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
