<ion-app>
  <ion-menu contentId="content" menuId="first" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'Navigate' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let page of sideMenuNavigatePages">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="page.url" routerDirection="forward">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            {{page.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
