<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'My Goal' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">{{'Close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label>{{'Name' | translate}}</ion-label>
    <ion-input
        [(ngModel)]="goal.name"
        [placeholder]="'Vacation' | translate"
        type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'Value' | translate}}</ion-label>
    <ion-input
        [(ngModel)]="goal.wonValue"
        [placeholder]="'For example: 3000$' | translate"
        type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'Description' | translate}}</ion-label>
    <ion-textarea
        [(ngModel)]="goal.info"
        [placeholder]="'Example: Surfing in Portugal!' | translate"
        type="text">
    </ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-around">
      <ion-button (click)="toCreate()">{{'Save' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
