<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="menu"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-title text-center>Wallet title</ion-title>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="settings"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="money-tab">
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history-tab">
      <ion-icon name="document"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
